@charset "utf-8";

/* =======================================

	CommonElements

======================================= */

* {
	margin: 0;
	padding: 0;
}

a:link { text-decoration:underline; color: #C10E24;}
a:visited { text-decoration:underline; color: #C10E24;}
a:active { text-decoration:underline; color: #C10E24;}
a:hover { text-decoration:none; color: #C10E24;}

body {
	color: #331713;
	background: #fff4f6;
	text-align: center;
	font-size:12px;
	background: url(../img/bg.gif) repeat;
}

#container {
	margin: 0 auto;
	width: 100%;
	text-align: left;
}

body > #container{ 
	height: auto;
}

h1 img,
h2 img,
h3 img,
h4 img {
	vertical-align: text-bottom;
	line-height: 0;
	font-size: 0;
}

h2 {
	display: none;
}



.pagelink {
	width: 750px;
	margin-top: 30px;
	text-align: right;
}


p {
	line-height:170%;
}


.comment {
	margin-left: 10px;
	font-weight: bold;
}

.otherbox {
	margin-top: 15px;
	margin-left: 20px;
}


.othertitle {
	padding: 20px 0 0 20px;
	font-weight: bold;
	font-size: 18px;
	border-bottom:1px dotted #331713;
}


/* ------------------------------------

    wrapper

------------------------------------ */

#wrapper {
	width: 880px;
	margin: 0 auto;
}

/* ------------------------------------

    header

------------------------------------ */

#header {
	width: 880px;
	height: 90px;
}


#header #logo {
	width: 273px;
	float: left;
	display: inline;
}


#header #logo h1 {
	margin-top: 25px;
}


#header #menu {
	width: 607px;
	height: 90px;
	background: url(../img/menu_bg.gif) no-repeat bottom right;
	float: right;
	display: inline;
}


#header #menu ul {
	margin: 0 0 0 120px;
	width: 430px;
}

#header #menu ul li {
	margin-top: 52px;
	margin-left: 20px;
	float: left;
	display: inline;
}

#header #menu ul li.entry {
	margin: 40px 0 0 0;
	float: right;
	display: inline;
}

#header #menu ul li a:link { text-decoration:none; color: #fff;font-weight:bold;}
#header #menu ul li a:visited { text-decoration:none; color: #fff;font-weight:bold;}
#header #menu ul li a:active { text-decoration:none; color: #fff;font-weight:bold;}
#header #menu ul li a:hover { text-decoration:underline; color: #fff;font-weight:bold;}


/* ------------------------------------

    contents

------------------------------------ */

#contents {
	width: 880px;
	background: #331713;
	padding: 0 0 10px 0;
	text-shadow: 0 1px 0 #eeeeee;
}

#contents #left {
	float: left;
	display: inline;
	width: 620px;
	margin-left: 10px;
	text-align: left;
}

#contents #right {
	float: right;
	display: inline;
	width: 230px;
	margin-right: 10px;
	text-align: left;
}

#contents #right .twitter_badge {
	width: 230px;
	margin-top: 10px;
}

/* ------------------------------------

    footer

------------------------------------ */

#footer {
	margin-top: 30px;
	background-color:#331713;
	width:100%;
	height: 150px;
	bottom: 0px;
}

#footer_in {
	width: 880px;
	text-align: left;
	margin: 0 auto;
	padding-top: 15px;
}

#footer_in img.logo {
	float: left;
	display: inline;
	margin-right: 50px;
}

#footer_in ul {
	width: 639px;
	float: left;
	display: inline;
}

#footer_in ul li {
	margin: 7px 20px 0 0;
	float: left;
	display: inline;
	font-size: 18px;
}

#footer_in a {
	color: #fff;
}

#footer_in .copy {
	margin-top: 100px;
	color: #fff;
}


